# Visual Studio
1/Project1/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.o
*.exe
*.out
build/
Debug/
1/Project1/Project1/x64
1/Project1/Project1/.vs
1/Project1/Project1/Debug
1/Project1/Project1/out
1/Project1/Project1/Project1
1/Project1/x64
1/Project1/.vs
2/.vs
2/2/x64
2/x64
3/.vs
3/3/catch2
3/3/.vs
3/3/3
3/3/Debug
3/3/out
4/.vs
4/4/x64
4/x64
5/.vs
5/5/x64
5/x64
6/.vs
6/6/x64
6/x64
1/.vs
1/1/x64
1/x64
DZ1/.build
DZ2/.build
DZ3/.build
DZ4/.cmake
DZ4/.qt
DZ4/.qtc
DZ4/.qtc_clangd
DZ4/08_PreDataBase_autogen
DZ4/CMakeFiles
DZ4/PG_Libs
DZ4/Testing
DZ4/.ninja_deps
DZ4/.ninja_log
DZ4/08_PreDataBase.exe
DZ4/build.ninja
DZ5/.build
DZ6/.10_TCPserver_Source
DZ6/.TCPServer_exe
DZ6/PreTCPclient/.build
indexer/build
# Build artifacts
*.obj
*.exe
*.dll
*.pdb
*.ipch
*.pch
*.log
*.tlog
*.lastbuildstate

# CMake
CMakeFiles/
CMakeCache.txt
build/
cmake_install.cmake
Makefile

# x64/x86 builds
x64/
x86/